/* CSS externo */



@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 2em; /*1rem = 16px -> 1em = M */
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

header {
    text-decoration: none;
    display: flex;
    background-color: #0d80d2;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.1);
    position: sticky; /* pode ser necessario top, left, bottom ou right*/
    top: 0;
   
   

}

header ul {

    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: #ffffff;
    font-weight: 700;
    padding: .5rem 1rem;
}                                                       

header a:hover {
    font-size: 25px;
    transition: font-size 0.3s ease;
    
}

section {
    height: 80vh;
    margin: 2rem;
    scroll-margin-top: 4rem; 
    padding: 1rem;

}





p {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

inout[type="email"] 
inout[type="text"] 
textarea {
    border: 1px;
    border-radius: 4px;
    padding: .25rem .75rem;
    color: #333;
}


input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .25rem .75rem;
    color: #333;
    resize: none;
}


input[type="submit"] {
    background-color: gray;
    color: #ffffff;
    font-weight: 700;
    padding: .25rem .75rem;
    border: none;
}

.card{
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    list-style: none;

}

.titulo-card{
    font-size: 1.3rem;
    font-weight: bold;
    color: gray
}

.instutuicao-card{
    font-size: 1.1rem;
    color: #555
}

.cards-em-linha{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}